body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: #575F7D;;
  font-size: 15px;
  line-height: normal;
  text-align: center;
  display: block;
}

h1,h2,h3 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  line-height: normal;


}
a {
  color: peru;
  text-decoration: none;
  font-weight: 600;

}

a:hover {
  color: black;
}

.container{
  margin: auto;
  padding: auto;
  color-interpolation-filters: auto;

}

.card{
width: 50%;
background-color: white;
border-radius: 4px;
padding: 40px;
margin: 20px auto;
text-align: center;
border-radius: 25px;
box-shadow: 0px 10px 30px ;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}

.img-circle{
  width: 100px;
  height: 135px;
  margin: 20px auto;
  border-radius: 50%;
}

.button-grey{
background-color: #29654a;
color: white;
padding: 15px 20px;
border-radius: 4px;
}

.fab{
  font-size: 50px;
  }

  @media (max-width: 960px) {
    /* Pour un écran < 960px, cette classe CSS s'applique */
    .container {
      width: 700px;
    }
  }
